<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1484557985045-edf25e08da73?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=667&q=80);">
  <div class="container">
    <h1>Pense Bêtes</h1>
    <h2>Un pense-bête pas si bête ! </h2><br>
    <p><strong>Mettez à dispotion ou empruntez un animal</strong> pour effectuer des tâches ou activités à <strong> moindre coup tout en étant écolo </strong>! <br>
    Un mouton pour tondre votre gazon ? Un cheval pour se balader ? Un canard pour faire du foie gras ? </p> <br>
    <br>
    <form action="#" class="form-inline text-center ">
          <input type="text" class="form-control input-lg" placeholder="checkin">
          <input type="text" class="form-control input-lg" placeholder="checkout">
          <select name="" id="" class="form-control input-lg">
            <option value="1">1 mouton</option>
            <option value="2">1 cheval</option>
            <option value="3">1 canard</option>
          </select>
          <input type="submit" class="btn btn-home" value="Search">
        </form>
  </div>
</div>
