<div class="home" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1484557985045-edf25e08da73?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=667&q=80);">
  <div class="container">
    <h1>Pense Bêtes</h1>
    <h2>Un pense-bête pas si bête ! </h2><br><br><br>
    <p><strong>Mettez à dispotion</strong> ou <strong>empruntez un animal</strong> pour effectuer des tâches ou activités à <strong> moindre coût </strong>tout en étant <strong>écolo </strong>! <br>
    Un mouton pour tondre votre gazon ? Un cheval pour se balader ? Un canard pour faire du foie gras ? </p> <br>
    <br>
  </div>

 <br><br>

<div class="container">
   <div class="form-wrapper " >
     <!--  <h4>Dates : </h4> -->
      <%= form_tag animals_path, method: :get do %>
        <%= text_field_tag :query,
          params[:query],
          class: "form-control",
          placeholder: "Entrez le nom de l'animal"%>
      <!--  <% end %> <br> -->
      <%= simple_form_for :search, method: :get do |t| %>
        <%= submit_tag "Voir la liste", class: "btn btn-home mt-4" %>
      <% end %>
   </div>
 </div>
 <br><br>

