<div class="animals-index banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1535907309959-db0f3e78aa54?ixlib=rb-1.2.1&auto=format&fit=crop&w=1950&q=80);">
  <div class="container d-flex flex-column align-items-end justify-content-end">
    <h1>Pense Bêtes</h1>
    <p>Un pense bête pas si bête</p>
  </div>
</div>

<br>

<div class="container">
  <% @animals.each do |animal| %>
    <div class="cards">
      <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/breakfast.jpg)">
        <%= link_to animal.race, animal_path(animal) %>
        <%= link_to animal.name, animal_path(animal) %>
      </div>

      <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/lunch.jpg)">
        Lunch
      </div>

      <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/dinner.jpg)">
        Dinner
      </div>
  </div>
  <% end %>

</div>

