<div class="animals-index banner" style="background-image: linear-gradient(rgba(0,0,0,0.1),rgba(0,0,0,0.1)), url(https://images.unsplash.com/photo-1422363119751-1d2b703a7546?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1502&q=80);">
  <div class="container d-flex flex-column align-items-end justify-content-end">
    <h1>Réservations</h1>
  </div>
</div>
<br>
<div class="container">
  <div class="cards">
    <% @reservations.each do |reservation| %>
      <div class="card-category"
         style="background-image: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.1)),
         url('<%= cl_image_path reservation.animal.photo, height: 300, width: 400,  gravity: :face %>')">
        <h2> <%= reservation.animal.name %> </h2>
  </div>
      <div class="form-group">
        <label for="exampleFormControlTextarea1" spaceholder="Leave a message for the owner about your needs"></label>
        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
      </div>
      <div class="form-inline">
        <% link_to "Conseils d'entretien de l'animal", animal_path(reservation.animal_id, reservation), class: "btn btn-back col-2"  %>
        <%= link_to "Oui", accept_animal_reservation_path(reservation.animal, reservation), class: "btn btn-rent m-5 col-2" %>
          <%= link_to "Non", decline_animal_reservation_path(reservation.animal, reservation), class: "btn btn-danger m-5 col-2" %>

      </div>
    <% end %>
  </div>
</div>







