<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.1),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1517795152135-b5d52bfee71c?ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60);">
    <div class="container">
        <h1>Réservations</h1>
    </div>
</div>
<div class="container">
    <div class="card-product">
        <% @reservations.each do |reservation| %>
        <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cl_image_path reservation.animal.photo, height: 300, width: 400, crop: :fill %>')">
            <div class="card-product-infos">
                <h2>
                    <%= reservation.animal.name %>
                </h2>
                <div class="form-group">
                    <label for="exampleFormControlTextarea1" spaceholder="Leave a message for the owner about your needs"></label>
                    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                </div>
                <ul>
                    <li>
                        <% link_to "Conseils d'entretien de l'animal", animal_path(reservation.animal_id), class: "btn btn-flat"  %>
                    </li>
                    <li>
                        <% if policy(reservation).accept? %>
                        <%= link_to "Accepter", accept_animal_reservation_path(animal_id) %>
                        <% end %>
                    </li>
                    <li>
                        <% if policy(reservation).decline? %>
                        <%= link_to "Refuser", decline_animal_reservation_path(reservation.animal.id) %>
                        <% end %>
                    </li>
                </ul>
            </div>
            <% end %>
        </div>
    </div>
</div>
