<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.1),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1517795152135-b5d52bfee71c?ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60);">
    <div class="container">
        <h1>Réservations</h1>
    </div>
</div>

 <% @reservations.each do |reservation| %>
          <tr>
            <td><%= @animal %></td>
            <td><%= @reservation %></td>
            <td><%= reservation.user_id %></td>

<% end %>
