<h1>Vos animaux</h1>

<div class="container">
  <div class="cards">
    <% @reservations.each do |reservation| %>

     <div class="card-category"
         style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)),
         url('<%= cl_image_path reservation.photo%>')">
        <h3> <%= reservation.name %> </h3>
      </div>
    <% end %>
  </div>
</div>
