.home {
  background-size: cover;
  background-position: center;
  padding: 170px 0;
  height: 850px;

}

.home h1 {
  margin: 50;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 72px;
  font-weight: bold;
  text-align: center;
}

.home p {
  font-size: 20px;
  color: white;
  opacity: .7;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}

.home h2 {
  margin: 50;
  color: #e0e0e0;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 32px;
  font-weight: bold;
  text-align: center;
}


.form-inline {
 display: flex;
 justify-content: center;
}

.home h4 {
  margin: 50;
  color: #589167;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 24px;
  font-weight: bold;
  text-align: center;
}
.btn-home {
  width: 150px;
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  background: #293462;
  transition: background 0.3s ease;
}

.btn-home:hover {
  background: #216583;
  color: white;
}
